$background-light: #ffffff;
$text-color-light: #3b3b3b;
$light-text-color-light: #6d6d6d;
$shade-light: #dedede;
$border-color-light: #5d5d5d;

$background-dark: #010101;
$text-color-dark: #ededed;
$light-text-color-dark: #a1a1a1;
$shade-dark: hsl(0, 0%, 10%);
$border-color-dark: #424242;

$green: #6fde77;
$blue: #6fbbde;
$orange: #fb8853;
$purple: #c46fde;
$red: #DF5361;

h1,
h2,
h3,
h4 {
  letter-spacing: -0.4px;
}

[data-theme="light"] {

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  a {
    color: $text-color-light;
  }
}

[data-theme="dark"] {

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  a {
    color: $text-color-dark;
  }
}

h1 {
  font-size: clamp(34px, 8vw, 45.8px);
}

h2 {
  font-size: clamp(30px, 6.5vw, 37.8px);
}

h3 {
  font-size: clamp(26px, 5.5vw, 31.2px);
}

h4 {
  font-size: clamp(22px, 4.5vw, 25.6px);
}

h5 {
  font-size: clamp(18px, 3.8vw, 21px);
}

h6 {
  font-size: clamp(16px, 3.2vw, 17px);
  letter-spacing: -1.2px;
}

span {
  font-size: inherit;
}

p,
a,
b,
i,
button {
  font-size: clamp(15px, 2.8vw, 15px);
  letter-spacing: -0.2px;
}

button {
  font-size: clamp(15px, 2.8vw, 15px);
}

.hero-section {
  ::selection {
    background-color: $green;
    color: white;
  }
}

.technologies-section {
  ::selection {
    background-color: $blue;
    color: white;
  }
}

.experience-section {
  ::selection {
    background-color: $purple;
    color: white;
  }
}

.projects-section {
  ::selection {
    background-color: $red;
    color: white;
  }
}

.contact-section {
  ::selection {
    background-color: $orange;
    color: white;
  }
}

.section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 4rem;

  &.hero-section {
    ::selection {
      background-color: $green;
      color: white;
    }

    .section-title {
      margin: 0;
    }

    p {
      padding-bottom: 0.75rem;

      &:last-child {
        padding-bottom: 0;
      }
    }

    .hero-bio {
      width: 100%;
      border-radius: 12px;
      padding: 6px;
      margin-bottom: 1.5rem;

      .hero-bio-inner {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
        width: 100%;
        border-radius: 8px;
        padding: 12px;

        p {
          width: 100%;
          padding-bottom: 0;
          line-height: 22px;
          letter-spacing: -0.32px;
        }
      }
    }
  }

  .hero-section-title-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1.5rem;

    @media screen and (max-width: 768px) {
      flex-direction: column-reverse;
      align-items: flex-start;
      gap: 1rem;
    }

    .ghibli-image {
      width: 8rem;
      height: 8rem;
      border-radius: 50%;
      object-fit: cover;
      object-position: center -30px;

      @media screen and (max-width: 768px) {
        align-self: center;
      }
    }
  }

  .section-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin-bottom: 1rem;

    @media screen and (max-width: 768px) {
      img {
        //display: none;
      }
    }
  }


}

.project-wrapper,
.experience-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-items: center;
  width: 100%;
  gap: 0.5rem;

  .project-header-wrapper,
  .experience-header-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 1rem;

    @media screen and (max-width: 768px) {
      align-items: flex-start;
      gap: 0.25rem;
    }

    &.experience-header-wrapper {
      @media screen and (max-width: 768px) {
        flex-direction: column;
      }
    }

    .separator {
      flex: 1;
      width: 100%;
      height: 1px;

      &.experience-separator {
        background: $purple;
      }

      &.selected-projects-separator {
        background: $red;
      }

      @media screen and (max-width: 768px) {
        display: none;
      }
    }

    .project-title,
    .experience-title {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 1rem;
    }

  }
}

.project-wrapper,
.experience-wrapper {
  gap: 6px;
  padding: 6px;
  border-radius: 12px;

  .project-header-wrapper,
  .experience-header-wrapper {
    padding: 12px;
    gap: 12px;
  }

  .project-description,
  .experience-description {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    line-height: 22px;
  }

  .project-techstack,
  .experience-roles {
    width: 100%;
    padding: 0 0;
  }
}

.experience-header-wrapper a:hover {
  text-decoration: underline;
  text-decoration-color: $purple;
}

.project-header-wrapper a:hover {
  text-decoration: underline;
  text-decoration-color: $red !important;
}


.contacts-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-items: center;
  gap: 0.75rem;

  .contact {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    gap: 0.5rem;

    &:hover {
      text-decoration: underline;
      text-decoration-color: $orange;
    }
  }
}

.contact {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  gap: 0.5rem;

  &.hero-contact {
    border-radius: 0.5rem;
    padding: 0.35rem 0.5rem;
    background: $background-light;
  }

  &:hover {
    text-decoration: underline;
    text-decoration-color: $orange;
  }
}

.project-link {
  border-radius: 0.5rem;
}

.chip {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2px;
  border-radius: 8px;

  .chip-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 4px 8px;
    border-radius: 6px;
    font-size: 15px;
    line-height: 22px;
    white-space: nowrap;
  }
}

.chip-stroked {
  border-radius: 0.5rem;
  padding: 0.15rem 0.35rem;
  background: $background-light;
}

[data-theme="dark"] {
  .contact.hero-contact {
    border: 1px solid $shade-dark;
    color: $light-text-color-dark;
    background: $background-dark;

    &:hover {
      background: $text-color-light;
      text-decoration-color: transparent;
    }
  }

  .project-link {
    &:hover {
      background: $text-color-light;
    }
  }

  .project-header-wrapper,
  .experience-header-wrapper {
    h6 {
      justify-self: flex-end;
      color: $light-text-color-dark;
    }
  }

  .section {
    p {
      color: $light-text-color-dark;
    }
  }

  .hero-bio {
    background: #0c0c0c;
    border: 1px solid $shade-dark;

    .hero-bio-inner {
      background: $background-dark;
      border: 1px solid $shade-dark;

      p {
        color: $light-text-color-dark;
      }
    }
  }

  .project-wrapper,
  .experience-wrapper {
    background: #0c0c0c;
    border: 1px solid $shade-dark;

    .project-description,
    .experience-description {
      background: $background-dark;
      border: 1px solid $shade-dark;
      color: $light-text-color-dark;
    }
  }

  .chip {
    background-color: hsl(199, 66%, 22%);
    border: 1px solid hsl(199, 66%, 18%);

    .chip-inner {
      background-color: hsl(199, 66%, 18%);
      border: 1px solid hsl(199, 66%, 14%);
      color: #8fd0ee !important;
    }
  }

  .chip-stroked {
    background-color: $background-dark;
    color: $light-text-color-dark;
    border: 1px solid $shade-dark !important;
  }

  .separator {
    background-color: $shade-dark !important;
  }
}

[data-theme="light"] {
  .contact.hero-contact {
    border: 1px solid $shade-light;
    color: $light-text-color-light;

    &:hover {
      background: $text-color-dark;
      text-decoration-color: transparent;
    }
  }

  .project-link {
    &:hover {
      background: $text-color-dark;
    }
  }

  .project-header-wrapper,
  .experience-header-wrapper {
    h6 {
      justify-self: flex-end;
      color: $light-text-color-light;
    }
  }

  .section {
    p {
      color: $light-text-color-light;
    }
  }

  .hero-bio {
    background: #f6f6f6;
    border: 1px solid #e7e7e7;

    .hero-bio-inner {
      background: #ffffff;
      border: 1px solid #e7e7e7;

      p {
        color: #6d6d6d;
      }
    }
  }

  .project-wrapper,
  .experience-wrapper {
    background: #fafafa;
    border: 1px solid #e7e7e7;

    .project-description,
    .experience-description {
      background: #ffffff;
      border: 1px solid #e7e7e7;
      color: #6d6d6d;
    }
  }

  .chip {
    background-color: #9bd0e8;
    border: 1px solid #72bcdf;

    .chip-inner {
      background-color: #d6ebf5;
      border: 1px solid #83c4e2;
      color: #04567b !important;
    }
  }

  .chip-stroked {
    border-radius: 0.5rem;
    padding: 0.15rem 0.35rem;
    border: 1px solid $shade-light !important;
  }

  .separator {
    background-color: $shade-light;
  }
}


.theme-toggle-wrapper {
  position: absolute;
  top: 2.5rem;
  z-index: 1000;

  .theme-toggle {
    border-radius: 0.5rem;
    padding: 0.5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease;
  }
}

[data-theme="light"] {
  .theme-toggle {
    border: 1px solid $shade-light;
    color: $light-text-color-light;
    background: $background-light;

    &:hover {
      background: $text-color-dark;
    }
  }
}

[data-theme="dark"] {
  .theme-toggle {
    border: 1px solid $shade-dark;
    color: $light-text-color-dark;
    background: $background-dark;

    &:hover {
      background: $text-color-light;
    }
  }
}