$background: #ffffff;
$text-color: #3b3b3b;
$light-text-color: #6d6d6d;
$shade: #d1d1d1;
$border-color: #5d5d5d;

$green: #6fde77;
$blue: #6fbbde;
$orange: #fb8853;
$purple: #c46fde;

h1,
h2,
h3,
h4 {
  letter-spacing: -1.5px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  color: $text-color;
}

h1 {
  font-size: clamp(36px, 8vw, 47.8px);
}

h2 {
  font-size: clamp(32px, 6.5vw, 39.8px);
}

h3 {
  font-size: clamp(28px, 5.5vw, 33.2px);
}

h4 {
  font-size: clamp(24px, 4.5vw, 27.6px);
}

h5 {
  font-size: clamp(20px, 3.8vw, 23px);
}

h6 {
  font-size: clamp(18px, 3.2vw, 19px);
  letter-spacing: -1.2px;
}

span {
  font-size: inherit;
}

p,
a,
b,
i,
button {
  font-size: clamp(16px, 2.8vw, 16px);
  letter-spacing: -0.3px;
}

button {
  font-size: clamp(16px, 2.8vw, 1rem);
}

.hero-section {
  ::selection {
    background-color: $green;
    color: white;
  }
}

.technologies-section {
  ::selection {
    background-color: $blue;
    color: white;
  }
}

.projects-section {
  ::selection {
    background-color: $purple;
    color: white;
  }
}

.contact-section {
  ::selection {
    background-color: $orange;
    color: white;
  }
}

.section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 4rem;

  &.hero-section {
    ::selection {
      background-color: $green;
      color: white;
    }

    .section-title {
      margin: 0;
    }

    p {
      padding-bottom: 0.75rem;

      &:last-child {
        padding-bottom: 0;
      }
    }
  }

  .hero-section-title-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1.5rem;

    @media screen and (max-width: 768px) {
      flex-direction: column-reverse;
      align-items: flex-start;
      gap: 1rem;
    }

    .ghibli-image {
      width: 8rem;
      height: 8rem;
      border-radius: 50%;
      object-fit: cover;
      object-position: center -30px;

      @media screen and (max-width: 768px) {
        align-self: center;
      }
    }
  }

  .section-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin-bottom: 1rem;

    @media screen and (max-width: 768px) {
      img {
        //display: none;
      }
    }
  }

  p {
    color: $light-text-color;
  }

  .chip {
    background-color: #cbe2ed;
    color: #005075;
    border-radius: 0.5rem;
    border: 1px solid #95d4f0;
    padding: 0.15rem 0.35rem;
  }

  .chip-stroked {
    background-color: $background;
    color: $light-text-color;
    border-radius: 0.5rem;
    border: 1px solid $shade;
    padding: 0.15rem 0.35rem;
  }
}

.project-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-items: center;
  width: 100%;
  gap: 0.5rem;

  .project-header-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 1rem;

    @media screen and (max-width: 768px) {
      flex-direction: column;
      align-items: flex-start;
      gap: 0.25rem;
    }

    .separator {
      flex: 1;
      @media screen and (max-width: 768px) {
        display: none;
      }
    }

    a:hover {
      text-decoration: underline;
      text-decoration-color: $purple;
    }

    .project-title {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 1rem;
    }

    .separator {
      width: 100%;
      height: 1px;
      background-color: $shade;
    }

    h6 {
      justify-self: flex-end;
      color: $light-text-color;
    }
  }
}

.contacts-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-items: center;
  gap: 0.75rem;

  .contact {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    gap: 0.5rem;

    &:hover {
      text-decoration: underline;
      text-decoration-color: $orange;
    }
  }
}
