@use "common" as *;
@import "tailwindcss";

* {
  font-family: "Geist", sans-serif;
  box-sizing: border-box;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-mona-sans);
  --font-mono: var(--font-geist-mono);

  --color-green: #6fde77;
  --color-red: #DF5361;
  --color-blue: #6fbbde;
  --color-purple: #c46fde;
}

[data-theme="light"] {
  body {
    background: $background-light;
    color: $text-color-light;
    font-weight: 500;
  }
}

[data-theme="dark"] {
  body {
    background: $background-dark;
    color: $text-color-dark;
    font-weight: 500;
  }
}

.lucide {
  stroke-width: 1.75px;
}
